.container-div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 170px;
  }

.main-div{
    display: flex;
    width: 600px;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-div-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 370px;
    border-radius: 5px;
    
}

.main-div-section input{
    height: 40px;
    width: 280px;
    padding-left: 10px;
    border:1px solid black
}

.main-div-section button{
    height: 40px;
    width: 80px;
    background: linear-gradient(to right, #16e500, #00a859);
    border:1px solid black;
    color:white;
    cursor: pointer;
}
  